.nav {
  display: none; 
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px; 
  left: 0;
  background-color: white; 
  z-index: 1;
}

.nav.active {
  display: flex;
  position: absolute;
  top: 50px;
  backdrop-filter: blur(11px);
  text-align: center;
  background: linear-gradient(rgba(1, 15, 54), rgba(1, 7, 36, 0.9));
  height: 40vh;
}

.hamburger {
  display: flex; 
  color: #F15412;
  padding-top: 10px;
}

.nav-items ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 305px;
}

.nav-items a, .nav-items button {
  text-align: center;
  padding: 10px;

}

.nav-items a:hover{
  background-color: #f0f0f0; 
}
#section, #About{
  height: auto;
}
.my-detail{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  /* font-size: 15px; */
}
.my-detail h4{
  text-align: center;
  font-size: 15px;
}
@media(max-width:790px){
  #cont{
    height: 100vh;
    padding-top: 15px;
    text-align: center;
  }
  #contact-me{
    padding-top: 110px;
  }
  #cont h1{
    padding-bottom: 10px;
    font-size: 24px;
  }
  #foot{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .flip-card{
    width: 272px;
    height: 282px;
  }
  .flip-card-front img{
    width: 270px;
    height: 280px;
  }
  .card1,.card2,.card2 img{
    height: 360px;
    width: 240px;
  }
}
@media(max-width:576px){
  .my-detail{
    font-size: 16px;
  }
  #hire, .bttn{
    font-size: 15px;
  }
  /* #skills, #edu, #exp{
    font-size: 14px;
  } */
  #edu h4, #edu h5{
    font-size: 15px;
  }
}
@media(max-width:450px){
  #cont{
    height: 60vh; 
  }
  #navbar h2{
    font-size: 18px;
  }
  .about-content{
    font-size: 13px;
  }
  #skills, #edu, #exp{
    font-size: 11px;
    padding-left: 0px;
    text-wrap: nowrap;
  }
  #edu h3{
    font-size: 14px;
  }
  #edu h4, #edu h5{
    font-size: 12px;
  }
  #skill, #experience, #education{
    font-size: 11px;
  }
 
  .my-detail, .my-detail h4{
    font-size: 10px;
  }
  .my-detail h4{
    display: none;
  }
  .Stack{
    display: flex;
    padding: 10px;
    font-size: 14px;
  }
  .bttn, #hire{
    font-size: 11px;
  }
  .socialContainer{
    height: 40px;
    width: 40px;
  }
  .socialSvg{
    width: 16px;
  }
  
  .card1,.card2,.card2 img{
    height: 290px;
    width: 210px;
  }
  #front-end{
    padding-left: 0;
  }
  #front-end h3{
    font-size: 13px;
  }
  #front-end h5{
    font-size: 12px;
  }
  .pro{
    font-size: 24px;
  }
  .flip-card{
    width: 242px;
    height: 252px;
  }
  .flip-card-front img{
    width: 240px;
    height: 250px;
  }
  #foot{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 12px;
  }
  #contact-me h3{
    font-size: 20px;
  }
  #contact-me h4{
    font-size: 13px;
  }
  .hamburger .line{
    height: 2px;
    width: 21px;
  }
  
}